:root {
    --background-color: rgba(255, 144, 14, 0.1);
    --white: #FFFFFF;
    --black: rgba(19, 19, 19, 1);
    --dark: #131313;
    --dark-black: #727272;
    --light-gray: #424242;
    --hot-yellow: #FF900E;
    --btn-background: #ff900e;
    --primary-font: 'Work Sans', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background: #E5E5E5;
}

/* **************************
 header start styles here
*************************/
header {
    background-color: var(--background-color);
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;

}

/* nav and navigation  styles start */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 25px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    font-family: var(--primary-font);
    color: var(--dark);
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
    /* margin-left: 50px; */

}

nav ul li a {
    text-decoration: none;
    color: var(--light-gray);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}
nav ul li a:hover {
    text-decoration:underline;

}
.banner-section {
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 45px 240px;



}

.banner {
    width: 862px;
    height: 280px;

}

.banner-title {
    margin-bottom: 32px;
}

.banner-description {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--primary-font);
    color: var(--dark-black);
    margin-bottom: 32px;
}

.btn-primary {
    height: 64px;
    background: var(--btn-background);
    border-radius: 5px;
    padding: 18px 35px;
    border: none;

}

.btn-primary a {

    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.banner-image {}

.banner-image img {
    width: 740px;
    height: 300px;
    background-image: cover;
    object-fit: cover;
}

/* ************************* 
 header styles end here
******************/

/* main styles start here  */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {

    width: 1250px;
    background: #FFFFFF;
    padding: 33px 83px 44px 80px;

}

.teams-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3em;

}

.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;


}

.team img {
    width: 242px;
    height: 242px;
    object-fit: cover;
    object-position: left;

}

.team-details {
    width: 350px;
    padding: 1em;


}

.team-title {
    font-weight: 500;
    font-size: 2em;
    line-height: 53px;
}

.text-primary {
    color: var(--dark-black);
}

.text-secondary {
    color: var(--dark);
}

.text-tertiary {
    color: var(--hot-yellow);
}

.team-description {
    font-weight: 400;
    font-size: 1em;
    line-height: 26px;
    color: var(--dark-black);
    margin-bottom: 2em;
}

/*********************************
  blogs-section styles start here  
************************************** */
.blogs-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.blogs-left-section {
    width: 350px;
    margin-bottom: 20px;
}

.blogs-title {
    font-weight: 700;
    font-size: 2em;
    color: var(--dark);
    margin-bottom: 24px;
    border-left: 8px solid var(--hot-yellow);
    padding-left: 1em;
}

.blogs-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-black);
}

.blog {
    width: 300px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}

.title-blog {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark);
}

.description-blog {
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-black);
}

.blogs-right {
    margin-bottom: 100px;
}

.blogs-right img {
    width: 314px;
    height: 998px;
    object-fit: cover;


}

.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}
 /* experience div or button styles start here  */
.experience {
    width: 250px;
    height: 150px;
    background-color: var(--btn-background);
    padding: 15px 25px;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;


}

.experience-title {
    font-weight: 700;
    font-size: 3em;
    line-height: 70px;
    color: var(--white);
}

.experience-desc {
    font-weight: 500;
    font-size: 25px;
    color: var(--white);
    text-align: center;
}

/*************************************
 relative and optional latest course  section styles start here 
*****************************/
.section-title {
    color:var(--dark);
    font-weight:700;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.courses {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:center;
    align-content: center;
    grid-column-gap:14px;
     width: 300px; /* width: 300px;  */
     margin: 0 auto;
    

}

.course {
    height: 269.7856750488281px;
    width: 252.4232177734375px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    border: 1px solid white;
    padding: 12px 14px;
    margin: 0px auto;
    transition:width .5s ease-in-out;
}
.course:hover{
    transform: scale(0.9);
    cursor: pointer;
    border:2px dotted var(--hot-yellow);
}
.course-title {
    font-weight: 500;
    font-size:1.1em;
    line-height: 23px;
}

.course .course-banner img {
    width: 200px;
    height: 104px;


}

.course-info {
    display: flex;
    grid-column-gap: 5px;

}

.far-star {
    font-size: 5px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;

}
/*******************relative  course -section styles end here ***************************/
/* ********************
service-section styles start here 
************************* */
.service-section {
   
    background: #ffffff;
    padding: 40px 20px;
    margin-top: 20px;
    border: 1px solid gainsboro;
}
.services{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.title {
    width: 180px;
    height: auto;
    margin: 0px auto;
    font-size: 2.5em;
    font-weight:700;
    color: var(--dark);

}

.title h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    text-align: center;
    margin-bottom: 10px;
}

.service {
    width: 310px;
    height: auto;
    text-align: center;
    display: inline-block;
    margin: 10px;
    border: 1px solid var(--hot-yellow);
    border-radius: 8px;
    /* transform: rotate(90deg); */
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    transition:width .5s ease-in-out;

}
.service:hover{
    transform:scale(0.95);
}

.service-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.service-description{
    font-size: 15px;
    color: rgb(39, 37, 37);
    line-height: 22px;
    padding: 0px 15px;
}
.service-title a{
    text-decoration: none;
    color: var(--light-gray);
}


.serv-icon i {

    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--black);
    transition: .5s;
}

.serv-icon i:hover {
    color: var(--hot-yellow);
    transform: scale(.8);
}
/* service-section styles end here  */
/* *****************************************
 sponsors-section styles start here
*/
.sponsors-section{
    width: 280px;
    margin: 0 auto;
}
.sponsors-title{
  text-align: center;
  margin-bottom: 24px;
  color:var(--dark);
}
.sponsors-desc{
    text-align: center;
    margin-bottom: 1em;
}
.sponsors{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsors img {
    width: 150.83px;
    height: 50px;
    mix-blend-mode: luminosity;
    transition:width .1s ease-in-out;
}
.sponsors img:hover{
    transform: scale(0.8);
    cursor: pointer;
    mix-blend-mode: var(--hot-yellow);
  
}
/* *****************************************
 sponsors-section styles end here
*/
/* ******************footer ************** */
footer {
    margin: 0 auto;
    height: auto;
    background: #ffff;
    color:var(--dark);
    padding: 30px 0px;
    margin-bottom: 3em;

}

.footer-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}


/* media queries  */
/* mobile device  */
@media only screen and (max-width:688px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-title{
        font-size:3em;
        
    }
    nav ul li a:hover {
        text-decoration:none;
        font-family: var(--primary-font);
    
    }
    nav {
        flex-direction: column;
        padding: 20px 25px;


    }

    nav ul {
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;

    }

    nav ul li a {
        font-size: 2em;
    }

    /* banner media screen styles start here */

    .banner-section {
        width: 100%;
        padding: 45px 240px;
    }

    .banner {
        width: 342px;
        height: 680px;

    }

    .banner-title {
        margin-top: 250px;
        font-family: var(--primary-font);
    }

    .banner-description {
        font-size: 1em;
        font-family: var(--primary-font);
    }

    .banner-image img {
        width: 340px;
        height: 300px;
        object-fit: cover;
        background-image: cover;
    }

    /* banner media screen styles end here */
    .container {
        width: 100%;
    }

    /* teams-section @media screen styles start here  */
    .teams-section {
        flex-direction: column;
    }

    .team img {
        width: 342px;
        height: 342px;
        object-fit: cover;
        object-position: left;

    }
 /* blog media screen styles start here */
 .blogs-left-section {
    width: 300px;
    margin-bottom: 2em;
}
    .blogs-section {
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
}
.blogs-right img {
    width: 305px;
    height: 898px;
    object-fit: cover;


}
.experience-section {
    flex-direction: column;
    margin-top:5px;
}
 /* blog media screen styles end here */


 /* teams , blogs and courses  grid-template-columns styles start here   */
    .teams,
    .blogs,
    .courses {

        grid-template-columns: repeat(1, 1fr);

    }

     /* teams , blogs and courses  grid-template-columns styles end here   */
 
     /* course media screen styles start here  */
     .section-title {
     
        font-size:1.1em;
   
        margin-bottom:2em ;

    }
     .course {
        margin-top: 8px;
        height: 300px;
        width: 350px;
        
    }
    .course-title {
        font-weight: 500;
        font-size:1em;
        line-height: 23px;
    }
    .course .course-banner img {
        width: 250px;
        height: 204px;
        margin-bottom: 1em;
    
    
    }
  /* course media screen styles end here  */
    /* services-section media screen styles  start */

    .services{
        flex-direction: column;

    }
    .service{
        padding:1em;
    }
    .service-section{
        border: none;
    }
    /* services-section media screen styles  start */
    /* sponsors media screen start styles start here  */

    .sponsors{
        flex-direction: column;
    }
    .sponsor{
        margin-bottom: 1.5em;
    }
    /* sponsors media screen start styles start here  */


}

/* mini tab device styles */
@media only screen and (min-width:689px) and (max-width:992px) {
    .banner {
        width: 662px;
        height: 380px;
    }

    .banner-image img {
        width: 640px;
        height: 300px;
        object-fit: cover;
        background-image: cover;
    }

    .container {
        width: 100%;
    }

    .teams-section {
        justify-content: space-between;
        gap: 14px;

    }

    .team img {
        width: 152px;
        height: 152px;

    }

    .team-details {
        width: 300px;
        padding: 1em;


    }
 /* teams , blogs and courses  grid-template-columns styles start here   */
    .teams,
    .blogs,
    .courses {

        grid-template-columns: repeat(2, 1fr);

    }
 /* teams , blogs and courses  grid-template-columns styles start here   */


    /* course section media screen styles start here  */
  
    .courses {

        grid-template-columns: repeat(3, 1fr);

    }

    .course {
        margin-top: 8px;
        height: 250px;
        width: 240px;
        padding:6px 4px;
    }
    .course .course-banner img {
        width: 200px;
        height:94px;
    
    
    }
    .course-info {
        display: flex;
        grid-column-gap:0px;
    
    }

    /* course section media screen styles end here  */

    /* service-section media screen styles start here  */
    .service{
        width: 210px;
        height: auto;
        padding: 5px;
    }
     
    /* service-section media screen styles start here  */
    /* sponsors section media screen styles start here  */
      .sponsors{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        justify-content:space-around;
        align-items: center;
      }
    /* sponsors section media screen styles start here  */

}